(gem-tls) {
	tls me@stingalleman.nl {
		ca_root /certs/chernobyl_root_ca.crt
		ca https://ca.boem/acme/acme/directory
	}
}

(basic-auth) {
	basicauth {
		{env.BASIC_USER} {env.BASIC_HASH}
	}
}

deluge.media.boem {
	import gem-tls

	reverse_proxy http://deluge:8112
}

jackett.media.boem {
	import gem-tls

	reverse_proxy http://jackett:9117
}

sonarr.media.boem {
	import gem-tls

	reverse_proxy http://sonarr:8989
}

radarr.media.boem {
	import gem-tls

	reverse_proxy http://radarr:7878
}

bazarr.media.boem {
	import gem-tls

	reverse_proxy http://bazarr:6767
}

jellyfin.media.boem {
	import gem-tls

	reverse_proxy http://jellyfin:8096
}

jellyseerr.media.boem {
	import gem-tls

	reverse_proxy http://jellyseerr:5055
}

media.boem {
	import gem-tls
	respond "Chernobyl Media Server"
}
