(gem-tls) {
	tls me@stingalleman.nl {
		ca_root /certs/chernobyl_root_ca.crt
		ca https://ca.boem/acme/acme/directory
	}
}

(basic-auth) {
	basicauth {
		{env.BASIC_USER} {env.BASIC_HASH}
	}
}

deluge.media.boem {
	import gem-tls

	reverse_proxy http://127.0.0.1:8112
}

media.boem {
	import gem-tls
	respond "Chernobyl Media Server"
}
